{% extends 'base/mainbase.html' %}
{% block content %}
{% load static %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Manage e-Books</h1>

            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                {{ message }}
              </div>
             {% endfor %}
            {% endif %}

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'profile_url' %}">My Profile</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

          <section class="#">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-10">
                  <p>Manage and update library e-books</p>
                </div>

                {% if perms.uaa.delete_user %}
                <div class="col-sm-2">
                  <a class="btn btn-primary pull-right" href="{% url 'createeBook_url' %}">Add e-Book</a>
                </div>
                {% endif %}
                
              </div>
            </div><!-- /.container-fluid -->
          </section>

          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-sm mx-auto table-bordered table-striped">
              <thead>
                <tr>
                  <th>S/n</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Author</th>
                  <th>Publicshed By</th>
                  <th>Year Publicshed</th>

                  {% if perms.uaa.delete_user %}
                  <th>Actions</th>
                  {% endif %}

                </tr>
              </thead>
              <tbody>
                {% for EBookObjectData in EBookObject %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ EBookObjectData.title }}</td>
                  <td>{{ EBookObjectData.categoryId.categoryName }}</td>
                  <td>{{ EBookObjectData.author }}</td>
                  <td>{{ EBookObjectData.publisher }}</td>
                  <td>{{ EBookObjectData.yearOfPublication }}</td>

                  {% if perms.uaa.delete_user %}
                  <td>
                    <a class="fa fa-eye btn-sm btn-primary" title="view" href="{% url 'readeBook_url' EBookObjectData.id %}"></a>
                    <a class="fa fa-edit btn-sm btn-primary" title="view/edit" href="{% url 'editEBookView_url' EBookObjectData.id %}"></a>
                    <a class="fa fa-trash btn-sm btn-danger" title="delete" href="{% url 'softDeleteEBookView_url' %}?eBook_id={{EBookObjectData.id}}"></a>
                  </td>
                  {% endif %}
                  
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>S/n</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Author</th>
                  <th>Publicshed By</th>
                  <th>Year Publicshed</th>

                  {% if perms.uaa.delete_user %}
                  <th>Actions</th>
                  {% endif %}

                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
       
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}