{% extends 'base/mainbase.html' %}
{% block content %}
{% load static %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Book Request, Pending</h1>
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">

            <div class="clearfix hidden-md-up"></div>
            
            {% for bkp in booksPendingData %}
            <div class="col-12 col-sm-6 col-md-3">
                <a href="#">
                    <div class="info-box mb-3">
                        {% if bkp.bookId.coverPageImage %}
                        <img src="{{bkp.bookId.coverPageImage.url}}" class="img-fluid mh-30" title="request {{bkp.bookId.title}} book">
                        {% endif %}
                    </div>
                </a>
            <!-- /.info-box -->
            </div>
            {% endfor %}

            
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}