{% extends 'base/mainbase.html' %}
{% block content %}
{% load static %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>All Users</h1>

            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                {{ message }}
              </div>
             {% endfor %}
            {% endif %}

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard_url' %}">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'profile_url' %}">My Profile</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

          <section class="#">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-10">
                  <p>System Users</p>
                </div>

                {% if perms.uaa.delete_user %}
                <div class="col-sm-2">
                  <a class="btn btn-primary pull-right" href="{% url 'addUser_url' %}">Add User</a>
                </div>
                {% endif %}

              </div>
            </div><!-- /.container-fluid -->
          </section>

          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-sm mx-auto table-bordered table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>RegistrationNo</th>
                <th>Email</th>
                <th>Full Name(s)</th>
                <th>Phone Number</th>

                {% if perms.uaa.delete_user %}
                <th>Actions</th>
                {% endif %}

              </tr>
              </thead>
              <tbody>
                {% for allUserListData in allUserList %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ allUserListData.username }}</td>
                  <td>{{ allUserListData.email }}</td>
                  <td>{{ allUserListData.first_name }}  {{ allUserListData.last_name }}</td>
                  <td>{{ allUserListData.phone_number }}</td>

                  {% if perms.uaa.delete_user %}
                  <td>

                    {% if allUserListData.is_active %}
                    <a class="fa fa-check btn-sm btn-success" title="block" href="{% url 'userStatusView_url' %}?userStatus_id={{allUserListData.id}}"></a>
                    {% else %}
                    <a class="fas fa-unlock btn-sm btn-success" title="unblock" href="{% url 'userStatusView_url' %}?userStatus_id={{allUserListData.id}}"></a>
                    {% endif %}

                    <a class="fa fa-edit btn-sm btn-primary" title="edit" href="{% url 'updateUserView_url' allUserListData.id %}"></a>
                    <a class="fa fa-key btn-sm btn-warning" title="reset=pass" href="{% url 'resetPasswordView_url' %}?user_id={{allUserListData.id}}"></a>
                  </td>
                  {% endif %}
                  
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>RegistrationNo</th>
                  <th>Email</th>
                  <th>Full Name(s)</th>
                  <th>Phone Number</th>

                  {% if perms.uaa.delete_user %}
                  <th>Actions</th>
                  {% endif %}

                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
       
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}